body {
    background: url(.//assets/bg-desktop-MP.png);
    font-family: 'Inter', sans-serif;
}

h1 {
    color: white;
    font-size: 100px;
    text-align: left;
    padding: 25px;
}

button {
    width: 60px;
    height: 20px;
}