body {
    background: url(./assets/bg-desktop-MP.png);
    font-family: 'Inter', sans-serif;
}

#base {
    width: 100%;
    max-width: 100%;
}

#line h1 {
    color: #fff;
    font-size: 100px;
    text-align: left;
    padding: 25px;
}

#enter {
    position: relative;
    width: 70px;
    margin: 50px 30px;
}

#enter button {
    width: 730px;
    height: 55px;
    background: url(./assets/button-to-enter\ .png);
    border: 1px solid #272727;
}